body {
  --medtext: calc(20px + 0.35vw + 0.35vh);
  --mobmedtext: calc(16px + 0.25vw + 0.25vh);
}

.about-overlay {
  background-color: #262626D9;
  width: 100%;
  height: 100%;
  z-index: 4;
  position: fixed;
  left: 0;
  top: 0;
  visibility: hidden;
}

.about-overlay-content {
  font-size: var(--medtext);
  padding: 20px;
  background-color: #3CB371;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid black;
}

.about-overlay-content a { text-decoration: underline; }

.about-overlay-content a, .about-overlay-content p {
  line-height: 1.25;
  color: #262626;
  padding: 0;
  display: inline;
  font-size: var(--medtext);
}

#abtclose {
  color: white;
  font-size: calc(50px + 0.5vw + 0.5vh);
}

@media only screen and (max-width: 415px) {
  .about-overlay-content a, .about-overlay-content p { font-size: var(--mobmedtext); }
  .about-overlay-content { width: 65%; }
}
