#title, #credit {
  font-size: var(--hugetext);
  padding-left: 10px;
}

#title { top: 0; }
#credit { bottom: 0; position: absolute; }

.menu {
  background-color: #6666FF;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid black;
  text-align: center;
}

.menu a {
  color: #262626;
  display: block;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-size: var(--hugetext);
}

.menu a:hover { text-decoration: underline; }

.overlay { visibility: visible; }

@media only screen and (max-width: 415px) {
  .menu a { font-size: var(--mobhugetext); }
}
