@font-face {
  font-family: 'Suisse Intl';
  src: URL('fonts/Suisse-Intl.otf') format('opentype');
}

@font-face {
  font-family: 'Suisse Intl Mono';
  src: URL('fonts/Suisse-Intl-Mono.otf') format('opentype');
}

body {
  background-color: #262626;
  color: #FFFFFF;
  font-family: 'Suisse Intl', sans-serif;
  --topspace: calc(5px + 2vh);
  --bigtext: calc(15px + 0.5vw + 0.5vh);
  --mobbigtext: 20px;
}
