@font-face {
  font-family: 'Barlow Semi Condensed Light';
  src: URL('fonts/BarlowSemiCondensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Light';
  src: URL('fonts/Barlow-Light.ttf') format('truetype');
}

body {
  background-color: #262626;
  color: white;
  font-family: 'Barlow Semi Condensed Light', sans-serif;
  --topspace: calc(5px + 2vh);
  --bigtext: calc(18px + 0.5vw + 0.5vh);
  --mobbigtext: 22px;
}
