html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }
body { font-family: 'Helvetica', sans-serif; }

p {
  font-weight: lighter;
  font-size: calc(12px + 0.2vw + 0.2vh);
  line-height: 1.5;
}

text {
  font-size: calc(18px + 0.5vw + 0.5vh);
  width: 150%;
}

a:hover { text-decoration: underline; }

a, a:visited, #navbtn, #navbtn:hover, .closebtn:hover {
  color: #0000FF;
  text-decoration: none;
  cursor: pointer;
}

.nav a { padding-left: 32px; }

.space { padding-bottom: calc(10px + 3.5vh); }

#title {
  font-size: calc(22px + 0.25vw + 0.25vh);
  padding-left: 5px;
}

.content {
  width: 40%;
  padding-top: calc(5px + 2vh);
  padding-left: 5px;
}

#pic {
  position: fixed;
  right: 15px;
  top: 15px;
  padding-top: calc(5px + 2vh);
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 90%;
}

.nav {
  display: none;
  height: 100%;
  width: calc(215px + 5vw);
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  border-left: 4px solid black;
  overflow-x: hidden;
  font-size: calc(18px + 0.5vw + 0.5vh);
  padding-top: calc(5px + 4vh);
}

#navbtn {
  position: fixed;
  bottom: 10px;
  right: 15px;
  font-size: calc(40px + 0.4vw + 0.4vh);
  z-index: 1;
}

.closebtn {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: calc(40px + 0.4vw + 0.4vh);
}

@media only screen and (max-width: 415px) {
  p { font-size: 12px; }
  text { font-size: 25px; }
  #title { font-size: 15px; }
  .content { width: 45%; }
  #pic { top: calc(10px + 7vh); }
  .nav { font-size: 25px; }
}
